*{
    box-sizing: border-box ;
}

:root{
    --dark-color: #19283f ;
    --gren-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400 ;
    --section-color: #eff7fa;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
        background-color: rgba(182, 181, 181, 0.219);

}

input{
    direction: rtl; 
}


/* start navbar */
.main-btn{
    /* background-color: var(--red-color); */
    /* color: var(--yellow-color); */
    padding: 0.5rem 1rem ;
  }
  .main-title::after{
      content: "";
      width: 120px;
      height: 2px;
      background-color: var(--gren-color);
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%); 
  }  

.minav .navbar{
    background-color: var(--dark-color);
    
}
.hhh{
        height: 30px;
        width: 100px;
        /* background-color: rgba(255, 41, 41, 0.5); */
}

.minav .navbar .navbar-nav .nav-link{

    color: white;

 }
 .minav .navbar .navbar-nav .nav-link.active,
 .minav .navbar .navbar-nav .nav-link:focus,
 .minav .navbar .navbar-nav .nav-link:hover{
     color: var(--gren-color);
 }
 .minav .navbar .search{
     border-left: 1px solid var(--gren-color);
 }
 .minav .navbar .search svg{
     color: var(--gren-color);
 }
 .minav .navbar .navbar-toggler{
      color: white;
      font-size: 25px;
      border-color: white;
  }
  .minav .navbar .navbar-toggler:focus{
      box-shadow: none;
  }
  .minav .navbar .navbar-toggler[ aria-expanded="true"]{
      border-color: var(--gren-color);
  }

  /*  */

/* end navbar */

.imdhjd{
    border-radius: 57%;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;

}

.btttt{
   position: relative;
   background: #393d3a;
   color: #fff;
   border: none;
   outline: none;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   width: 180px;
   height: 50px;
   margin: 10px;
   cursor: pointer;
}
.btttt:first-child:hover{
background: linear-gradient(90deg,#07a7f1,#fa46ac,#fae736,#07a7f1);
background-size: 400%;
}
.btttt:last-child:hover{
    background: linear-gradient(90deg,#07a7f1,#fa46ac,#fae736,#07a7f1);
background-size: 400%;
}
.btttt:first-child::before,
.btttt:last-child::before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.btttt:first-child:hover::before,
.btttt:last-child:hover::before{
opacity: 1;
z-index: -1;
}
.btttt:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
    -webkit-animation: glow 8s linear infinite;
}
@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

/* ------------------------------------------------------------------ */
/* scrole */
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

 


::-webkit-scrollbar-track
{
	border: 5px solid white;
	/* // border color does not support transparent on scrollbar */
	/* // border-color: transparent; */
	background-color: #b2bec3;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: #74b9ff;
	border-radius: 10px;
    width: 12px;
}

::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }